*{
	margin: 0;
	padding: 0;
}
/*#navbar{
    height:5px;
    border: none;
    margin-bottom: 10px;
}*/
.intro-message{
	padding: 70px;
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}
h1{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.small{
	width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    margin: 0 auto
}
.header{
	background:url("../images/intro.jpg") no-repeat center;
	padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    height:500px;
}

@media(min-width: 1200px){
    #navbar{
    height:5px;
    border: none;
    margin-bottom: 10px;
}
}
@media only screen and (max-width: 500px){
.header {
    width: 500px;
}
}
.dog-image{
    background: url("../images/dog.png");
    background-size: cover;
    height: 300px;
}
.col-lg-4{
	padding-top: 100px;
}
.ipad-image{
	background: url("../images/ipad.png");
    background-size: cover;
    height: 300px;
}
h3{
	color: white;
	font-style: bold;
	text-align: center;
}
li{
	display: inline-block;
	padding: 10px;
}
.icon{
	color: white;
}
.section-heading{
	margin:40px;

}
.lead{
	margin: 40px;
}
.img-responsive{
	display: block;
    max-width: 100%;
    height: auto;
}

.col-lg-5{
	padding: 20px;
}
@media only screen and (max-width: 500px){
.col-lg-5 {
    width: 500px;
}
}
.col-lg-6{
	margin-left: -40px;
}
@media only screen and (max-width: 500px){
.col-lg-6{
    width: 500px;
}
}
.clearfix{
	margin-bottom: 30px;
	margin-left: 70px;
}
.banner{
   
	background:url("../images/banner-bg.jpg") no-repeat center center;
	padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
    width: 100%;
}
.about{
	padding: 50px;
}
.prg {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
h2{
	font-size: 30px;
}

.row {
    margin-right: -15px;
    margin-left: 50px;
}
.banner h2 {
	color: white;
    margin-left: 30px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
.container {
    width: 100%;

}
.col-lg-12{
	padding: 50px;
	text-align: center;
}
footer{
	background-color: white;
}
footer a{
	color: black;
}